/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/* Général */
* {
    margin: 0;
    font-family: var(--roboto);
}

:root {
    --anthracite: #252525;
    --dark-orange: #ff7800;
    --light-orange: #ffae00;
    --black: #000;
    --white: #fff;
    --shrikhand: "Shrikhand", serif;
    --inter: "Inter", sans-serif;
    --roboto: "Roboto", sans-serif;
    --max-width: 354px;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a h1 {
    font-family: "Shrikhand", serif;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
    transition: 0.3s ease-out;
}

a:hover {
    color: var(--dark-orange);
    transition: 0.3s ease-out;
}

/* Header */

header nav {
    display: none;
}

header {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#burger {
    position: absolute;
    right: 0;
    padding: 10px;
}

/* Section1 */

.section1 {
    background: var(--light-orange);
    color: var(--anthracite);
}

.section1 div {
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}

.section1 div h2 {
    padding: 20px 6px;
}

.section1 div p {
    font-weight: 300;
    line-height: 1.5rem;
}

.section1 div input {
    width: 82%;
    background: var(--light-orange);
    border: none;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 36px;
}

.section1 div input::placeholder {
    color: var(--anthracite);
    font-size: 15px;
}

.btn {
    background: linear-gradient(var(--dark-orange), var(--light-orange));
    padding: 10px 20px;
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    color: var(--black);
    font-weight: 300;
}

/* Section2 */

.section2 {
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 4px 10px 4px;
}

.section2 h2 {
    padding: 28px 10px 8px;
}

.section2 h3 {
    font-size: 16px;
}

.section2 li{
    position: relative;
    display: flex;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin: 20px 10px;
}

.section2 ul{
    padding: 0;
}

.section2 p {
    position: absolute;
    left: -10px;
    background: var(--dark-orange);
    padding: 5px 8px;
    border-radius: 20px;
    color: var(--white);
    margin: -5px 0;
}

/* Section3 */

.section3 {
    background: var(--light-orange);
}

.section3>div {
    max-width: var(--max-width);
    margin: auto;
    padding-bottom: 30px;
}

.section3 h2 {
    padding: 26px 0;
    text-align: left;
}

.section3 article {
    background: var(--white);
    margin: 0 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
}

.section3 article img {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.section3 article h3 {
    padding-top: 10px;
    margin-left: 10px;
}

.section3 article a p,
.section3 article div p {
    padding-bottom: 10px;
    margin-left: 10px;
}

.section3 article div p {
    padding-top: 10px;
}

.section3 article a:hover {
    color: var(--black);
}

.section3 article div {
    display: flex;
    justify-content: space-between;
}

.section3 hr {
    margin: 0 10px;
    background: var(--dark-orange);
    height: 1px;
    border: none;
}

#recommended,
#recommended2,
#recommended3,
#recommended4 {
    display: none;
}

#label,
#label2,
#label3,
#label4 {
    background-image: url('/img/thumbs-up-regular.svg');
    width: 24px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}

#recommended:checked+#label,
#recommended2:checked+#label2,
#recommended3:checked+#label3,
#recommended4:checked+#label4 {
    background-image: url('/img/thumbs-up-solid.svg');
}

.btn.ml30 {
    margin-left: 30%;
}

.new {
    position: absolute;
    top: 13px;
    left: -10px;
    background: var(--dark-orange);
    transform: rotate(-43deg);
    padding: 4px 18px;
    font-family: var(--shrikhand);
    color: var(--white);
}

/* Footer */

footer {
    background: #252525;
}

footer div {
    max-width: var(--max-width);
    margin: auto;
}

footer div h2 {
    font-family: var(--shrikhand);
    color: #fff;
    font-weight: 400;
    padding: 10px;
}

footer div ul {
    list-style: none;
    line-height: 2rem;
    padding: 0 0 10px 10px;
}

footer div a {
    color: var(--white);
    font-weight: 300;
}

/* Responsive */

@media screen and (min-width:767px) {
    :root {
        --max-width: 767px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .btn.ml30 {
        margin-left: 42%;
    }

    .section1 div input {
        width: 70%;
        margin: 20px 10%;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:1024px) {
    :root {
        --max-width: 1024px;
    }

    .section1 div input {
        width: 50%;
        margin: 20px 22%;
        margin-bottom: 30px;
    }

    #burger{
        display: none;
    }

    header nav{
        display: block;
        position: absolute;
        right: 8%;
    }

    header nav ul{
        display: flex;
        list-style: none;
        gap: 40px;
        padding: 0;
    }

    .btn.ml30 {
        margin-left: 44%;
    }

    footer div{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    footer nav ul{
        display: flex;
        gap: 40px;
        padding: 0;
    }
}